body{
	 background: rgb(170, 231, 252);
	 } 
	 
	 .login_div1 {
		color:rgb(0, 4, 255);
		background: rgb(0, 255, 234);
		   padding: 10px;
		    float: none;
		    border-radius: 0px;
			border-width: 10%;
			border:solid;
			padding-top:30px;

		 }
		  #player1_name , #player2_name {
			   display: inline-block;
			    margin-left: 20px;
				border-radius: 0px;
			 }
#word {
	 width: 60%;
	 } 
	 #word_display { 
		 letter-spacing: 5px;
		 }
		 #output { 
			 background: rgb(71, 14, 145);
			  border-radius: 0px; 
			  border-top: 10px solid #AA4465;
			   padding: 10px;
			    float: none;
				 text-align: left;
				 }

.above {
	background: cyan;
	border:solid;
	color:rgb(255, 0, 0);
	border-width: 10%;
}

#game_hut{
	background-color: greenyellow;
	width:fit-content;
	height: fit-content;
	font-size: 20px;
	font-weight: bolder;
	border-radius: 0px;
	border:ridge;

}


#output {
	background-color: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465 ;
	padding: 10px;
	float: none;
	text-align: left;
}
